@font-face {
  font-family: "iconfont"; /* Project id 2525880 */
  src: url('iconfont.woff2?t=1620098228869') format('woff2'),
       url('iconfont.woff?t=1620098228869') format('woff'),
       url('iconfont.ttf?t=1620098228869') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-15tianwuliyoutuihuo:before {
  content: "\e606";
}

.icon-xiangxia:before {
  content: "\e633";
}

.icon-zhifubao:before {
  content: "\e63b";
}

.icon-dingbu:before {
  content: "\e62c";
}

.icon-7tianwuliyoutuihuo:before {
  content: "\e60e";
}

.icon-weibo:before {
  content: "\e6b2";
}

.icon-weixin:before {
  content: "\e6b3";
}

.icon-qq:before {
  content: "\e6b4";
}

.icon-weixin1:before {
  content: "\e62b";
}

.icon-gouwuche:before {
  content: "\e605";
}

.icon-didian:before {
  content: "\e61a";
}

.icon-banshou:before {
  content: "\e659";
}

.icon-close:before {
  content: "\e65a";
}

.icon-liwu:before {
  content: "\e611";
}

.icon-shouji:before {
  content: "\e621";
}

.icon-xiangyou:before {
  content: "\e74a";
}

.icon-xiangzuo:before {
  content: "\e74b";
}

.icon-chaxun:before {
  content: "\eb30";
}

.icon-jianhao:before {
  content: "\e61c";
}

.icon-xiaoxi:before {
  content: "\e63c";
}

.icon-jiahao:before {
  content: "\e602";
}

.icon-right:before {
  content: "\e62e";
}

.icon-icon_play:before {
  content: "\e60f";
}

.icon-yonghu:before {
  content: "\e635";
}

.icon-right1:before {
  content: "\e619";
}

.icon-erji:before {
  content: "\efe3";
}

.icon-weibo1:before {
  content: "\ea8c";
}

.icon-check-circle:before {
  content: "\eb32";
}

