@charset 'utf-8';
@import url(header.css);
body,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
img,
br,
hr,
table,
tr,
td,
dl,
dt,
dd {
  padding: 0;
  margin: 0;
}
.demo {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
form {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
body,
html {
  height: 100%;
}
body {
  font-family: Arial, "微软雅黑";
  font-size: 12px;
  color: #434343;
  margin: 0;
  padding: 0;
}
.clear {
  clear: both;
  font-size: 0px;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
ul,
li {
  list-style: none;
}
img {
  border: none;
  display: block;
}
/*一般链接*/
a {
  text-decoration: none;
}
input {
  outline: none;
}
.side-nav {
  position: fixed;
  left: 50%;
  margin-left: 613px;
  bottom: 40px;
  z-index: 1000;
}
.side-nav .user {
  box-sizing: border-box;
  height: 180px !important;
  left: -144px !important;
  background-color: #fff;
  z-index: 200;
  padding: 0 15px !important;
}
.side-nav .user img {
  display: block;
  width: 100px;
  height: 100px;
  margin: 6px auto;
}
.side-nav .user span {
  display: block;
  width: 76px;
  margin: 0 auto;
}
.side-nav .iconfont:hover {
  color: #ff6709;
}
.side-nav .side-info {
  position: absolute;
  top: 0;
  display: none;
}
.side-nav .side-info p {
  position: absolute;
  top: 5px;
  height: 28px;
  border: 1px solid #f5f5f5;
  left: -86px;
  line-height: 28px;
  padding: 0 8px;
  color: #757575;
  font-size: 14px;
  z-index: 199;
  background-color: #fff;
}
.side-nav .side-info .arrowhead {
  left: -12px;
  top: 13px;
  position: absolute;
  display: inline-block;
  border-left: 6px solid #fff;
  border-right: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-top: 6px solid transparent;
}
.side-nav .side-list {
  border: 1px solid #f5f5f5;
}
.side-nav .side-list li {
  background-color: #fff;
  position: relative;
  width: 25px;
  height: 40px;
  text-align: center;
  border-bottom: 1px solid #f5f5f5;
  line-height: 40px;
}
.side-nav .side-list li:hover .side-info {
  display: block;
}
.side-nav .side-list li .iconfont {
  font-size: 20px;
}
.side-nav .side-list li .count {
  padding: 0 5px;
}
.side-nav .side-list li .car {
  left: -103px;
}
.side-nav .return-top {
  position: relative;
  background-color: #fff;
  display: block;
  margin-top: 15px;
  border: 1px solid #f5f5f5;
  width: 25px;
  height: 40px;
  text-align: center;
  border-bottom: 1px solid #f5f5f5;
  line-height: 40px;
  color: #434343;
}
.side-nav .return-top:hover .side-info {
  display: block;
}
.side-nav .return-top .top-title {
  left: -72px;
}
.side-nav .return-top .icon-dingbu {
  font-size: 20px;
}
.masking {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1001;
  display: none;
  overflow: hidden;
}
.masking .masking-bg {
  opacity: 0.5;
  background-color: #000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.masking .masking-container {
  position: absolute;
  width: 800px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  background: #fff;
}
.masking .masking-container .masking-container-title {
  display: flex;
  justify-content: space-between;
  height: 32px;
  padding: 14px 20px;
  line-height: 32px;
  background-color: #f5f5f5;
  font-size: 16px;
}
.masking .masking-container .masking-container-title .icon-close {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #757575;
  cursor: pointer;
  border-radius: 15px;
  transition: all 0.2s;
}
.masking .masking-container .masking-container-title .icon-close:hover {
  color: #fff;
  background-color: #e53935;
}
.masking .masking-container .masking-container-text {
  padding: 20px;
  background-color: #fff;
  font-size: 14px;
}
.masking .masking-container .masking-container-text .masking-container-text-top {
  margin-bottom: 20px;
}
.masking .masking-container .masking-container-text .masking-container-text-middle {
  height: 270px;
  padding: 20px 0 0 20px;
  overflow-y: scroll;
}
.masking .masking-container .masking-container-btn {
  height: 40px;
  padding: 20px 0;
  border-top: 1px solid #e0e0e0;
  text-align: center;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
}
.masking .masking-container .masking-container-btn div {
  width: 160px;
  height: 40px;
  color: #fff;
  font-size: 14px;
  line-height: 38px;
  text-align: center;
  transition: all 0.4s;
  cursor: pointer;
}
.masking .masking-container .masking-container-btn .agree {
  background: #ff6700;
  color: #fff;
  margin-right: 15px;
}
.masking .masking-container .masking-container-btn .agree:hover {
  background-color: #f25807;
}
.masking .masking-container .masking-container-btn .disagree {
  background: #b0b0b0;
  color: #fff;
}
.masking .masking-container .masking-container-btn .disagree:hover {
  background-color: #757575;
}
.main {
  overflow: hidden;
}
.main .main-container {
  border-bottom: 1px solid #e0e0e0;
}
.main .main-container .main-top-bg {
  background: #fff;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.07);
}
.main .main-container .main-top-bg .evaluate {
  height: 63px;
  width: 1226px;
  margin: 0 auto;
}
.main .main-container .main-top-bg .evaluate h2 {
  font-size: 18px;
  font-weight: 400;
  line-height: 60px;
  color: #424242;
  float: left;
}
.main .main-container .main-top-bg .evaluate .evaluate-right {
  float: right;
  margin-top: 20px;
}
.main .main-container .main-top-bg .evaluate .evaluate-right a {
  margin: 17px 0 0 0;
  color: #616161;
  font-size: 14px;
}
.main .main-container .main-top-bg .evaluate .evaluate-right span {
  padding: 0 6px;
  opacity: 0.5;
}
.main .main-container .main-top-bg .evaluate a:hover {
  color: #ff4a00;
}
.main .main-container .top-fixed {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  display: none;
}
.main .main-container .need-login {
  background: #f7f7f7;
  width: 100%;
  text-align: center;
  height: 48px;
  line-height: 48px;
  color: #333;
  margin-top: 6px;
  font-size: 14px;
}
.main .main-container .need-login a {
  color: #ff4a00;
  margin-left: 25px;
}
.main .main-container .need-login .icon-close {
  opacity: 0.5;
  font-size: 14px;
  cursor: pointer;
}
.main .main-container .product-container .product-container-warp {
  width: 1226px;
  margin: 0 auto;
  padding-top: 32px;
  padding-bottom: 12px;
  display: flex;
}
.main .main-container .product-container .product-container-warp .product-container-left {
  position: relative;
  overflow: hidden;
  width: 746px;
  height: 560px;
}
.main .main-container .product-container .product-container-warp .product-container-left .bgcl {
  background: #A3A3A3;
}
.main .main-container .product-container .product-container-warp .product-container-left .left-img {
  width: 5000px;
  position: absolute;
}
.main .main-container .product-container .product-container-warp .product-container-left .left-img img {
  width: 560px;
  height: 560px;
  float: left;
}
.main .main-container .product-container .product-container-warp .product-container-left .left-img-prev {
  width: 41px;
  height: 69px;
  position: absolute;
  background: url(../img/img-produce/icon-slides.png) -84px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.main .main-container .product-container .product-container-warp .product-container-left .left-img-prev:hover {
  background: url(../img/img-produce/icon-slides.png) 0px;
  cursor: pointer;
}
.main .main-container .product-container .product-container-warp .product-container-left .left-img-next {
  position: absolute;
  width: 41px;
  height: 69px;
  background: url(../img/img-produce/icon-slides.png) -124px;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
.main .main-container .product-container .product-container-warp .product-container-left .left-img-next:hover {
  background: url(../img/img-produce/icon-slides.png) -208px;
  cursor: pointer;
}
.main .main-container .product-container .product-container-warp .product-container-left ul {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.main .main-container .product-container .product-container-warp .product-container-left ul li {
  margin: 0 4px;
  float: left;
  background: #ccc;
  width: 50px;
  height: 3px;
}
.main .main-container .product-container .product-container-warp .product-container-right {
  margin-left: 80px;
}
.main .main-container .product-container .product-container-warp .product-container-right h1 {
  font-size: 24px;
  font-weight: 400;
  color: #212121;
}
.main .main-container .product-container .product-container-warp .product-container-right .p1 {
  font-size: 14px;
  color: #b0b0b0;
  line-height: 22px;
  margin-top: 10px;
}
.main .main-container .product-container .product-container-warp .product-container-right .p1 span {
  color: #ff4a00;
}
.main .main-container .product-container .product-container-warp .product-container-right .p2 {
  color: #ff4a00;
  font-size: 14px;
  margin-top: 10px;
}
.main .main-container .product-container .product-container-warp .product-container-right .timer {
  height: 68px;
  border-top: 1px solid #b0b0b0;
  border-bottom: 1px solid #b0b0b0;
  padding-top: 16px;
  margin-top: 14px;
}
.main .main-container .product-container .product-container-warp .product-container-right .timer .timer-container {
  box-sizing: border-box;
  background: url(../img/img-produce/booking.png) no-repeat;
  height: 52px;
  color: #fff;
  padding-left: 15px;
  padding: 5px 5px 10px 15px;
}
.main .main-container .product-container .product-container-warp .product-container-right .timer .timer-container .timer-p {
  float: left;
}
.main .main-container .product-container .product-container-warp .product-container-right .timer .timer-container .seckill-price {
  font-size: 14px;
}
.main .main-container .product-container .product-container-warp .product-container-right .timer .timer-container .seckill-price > :nth-child(2) {
  font-size: 22px;
}
.main .main-container .product-container .product-container-warp .product-container-right .timer .timer-container .market-price {
  font-size: 12px;
  margin-left: 7px;
  line-height: 12px;
}
.main .main-container .product-container .product-container-warp .product-container-right .timer .timer-container .market-price > :nth-child(1) {
  font-size: 14px;
}
.main .main-container .product-container .product-container-warp .product-container-right .timer .timer-container .market-price > :nth-child(2) {
  font-size: 14px;
  text-decoration: line-through;
}
.main .main-container .product-container .product-container-warp .product-container-right .timer .timer-container .count-down {
  float: right;
  margin-top: 12px;
}
.main .main-container .product-container .product-container-warp .product-container-right .timer .timer-container .count-down .time-bg {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  background: #c20000;
  border-radius: 2px;
  margin: 0 6px;
  line-height: 16px;
}
.main .main-container .product-container .product-container-warp .product-container-right .adress {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 30px 50px;
  position: relative;
  background: #fafafa;
  border: 1px solid #e0e0e0;
}
.main .main-container .product-container .product-container-warp .product-container-right .adress .icon-didian {
  position: absolute;
  left: 20px;
  top: 30px;
  font-size: 22px;
  color: #999;
}
.main .main-container .product-container .product-container-warp .product-container-right .adress p {
  font-size: 14px;
  color: #333;
}
.main .main-container .product-container .product-container-warp .product-container-right .adress p a {
  color: #ff4a00;
}
.main .main-container .product-container .product-container-warp .product-container-right .adress p span {
  margin-right: 14px;
}
.main .main-container .product-container .product-container-warp .product-container-right .adress > :last-child {
  color: #ff4a00;
}
.main .main-container .product-container .product-container-warp .product-container-right .select p {
  font-size: 18px;
  color: #333;
}
.main .main-container .product-container .product-container-warp .product-container-right .select div {
  font-size: 16px;
  text-align: center;
  width: 292px;
  margin-top: 12px;
  line-height: 42px;
  height: 42px;
  border: 1px solid #ff4a00;
  cursor: pointer;
  color: #ff4a00;
  margin-bottom: 25px;
}
.main .main-container .product-container .product-container-warp .product-container-right .service {
  margin-bottom: 30px;
}
.main .main-container .product-container .product-container-warp .product-container-right .service .service-title {
  overflow: hidden;
}
.main .main-container .product-container .product-container-warp .product-container-right .service .service-title > :nth-child(1) {
  font-size: 18px;
  margin-bottom: 15px;
  float: left;
}
.main .main-container .product-container .product-container-warp .product-container-right .service .service-title > :nth-child(2) {
  color: #ff6700;
  font-size: 14px;
  line-height: 18px;
  float: right;
}
.main .main-container .product-container .product-container-warp .product-container-right .service .active-bd-color {
  border: 1px solid #ff4a00 !important;
}
.main .main-container .product-container .product-container-warp .product-container-right .service .service-container {
  border: 1px solid #e0e0e0;
  background: #fff;
  cursor: pointer;
  padding: 30px 0;
  position: relative;
  display: flex;
}
.main .main-container .product-container .product-container-warp .product-container-right .service .service-container .active-bg-color {
  background-color: #ff4a00 !important;
}
.main .main-container .product-container .product-container-warp .product-container-right .service .service-container .active-font-color {
  color: #ff4a00 !important;
}
.main .main-container .product-container .product-container-warp .product-container-right .service .service-container .service-circle {
  color: #fff;
  text-align: center;
  line-height: 12px;
  float: left;
  width: 12px;
  height: 12px;
  border: 1px solid #b0b0b0;
  background: #fff;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  left: 44px;
  top: 50%;
  transform: translateY(-50%);
}
.main .main-container .product-container .product-container-warp .product-container-right .service .service-container .img {
  position: absolute;
  width: 50px;
  height: 50px;
  float: left;
  left: 80px;
  top: 50%;
  transform: translateY(-60%);
}
.main .main-container .product-container .product-container-warp .product-container-right .service .service-container .img-bg-1 {
  background: url(../img/img-produce/T1TexjBsKT1RXrhCrK.jpg) no-repeat;
  background-size: 100% 100%;
}
.main .main-container .product-container .product-container-warp .product-container-right .service .service-container .img-bg-2 {
  background: url(../img/img-produce/pms_1523433296.18588200.jpg) no-repeat;
  background-size: 100% 100%;
}
.main .main-container .product-container .product-container-warp .product-container-right .service .service-container .img-bg-3 {
  background: url(../img/img-produce/pms_1523433665.50298883.jpg) no-repeat;
  background-size: 100% 100%;
}
.main .main-container .product-container .product-container-warp .product-container-right .service .service-container .img-bg-4 {
  background: url(../img/img-produce/pms_1551162146.27479908.png) no-repeat;
  background-size: 100% 100%;
}
.main .main-container .product-container .product-container-warp .product-container-right .service .service-container .agreement {
  margin-top: 8px;
}
.main .main-container .product-container .product-container-warp .product-container-right .service .service-container .agreement span {
  vertical-align: middle;
}
.main .main-container .product-container .product-container-warp .product-container-right .service .service-container .agreement .gou {
  color: #fff;
  text-align: center;
  line-height: 12px;
}
.main .main-container .product-container .product-container-warp .product-container-right .service .service-container .agreement > span > a {
  color: #ff4a00;
}
.main .main-container .product-container .product-container-warp .product-container-right .service .service-container .agreement > :first-child {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 2px;
  line-height: 14px;
  border: 1px solid #b0b0b0;
}
.main .main-container .product-container .product-container-warp .product-container-right .service .service-container .service-container-title {
  margin-left: 150px;
}
.main .main-container .product-container .product-container-warp .product-container-right .service .service-container .service-container-title h3 {
  overflow: hidden;
  font-size: 18px;
  margin-bottom: 10px;
}
.main .main-container .product-container .product-container-warp .product-container-right .service .service-container .service-container-title h3 span {
  font-style: normal;
  font-size: 14px;
  background: #ff6700;
  display: inline-block;
  padding: 2px 6px;
  border-radius: 20px;
  color: #fff;
  margin-left: 2px;
}
.main .main-container .product-container .product-container-warp .product-container-right .service .service-container .service-container-title p {
  font-size: 14px;
  color: #b0b0b0;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 10px;
}
.main .main-container .product-container .product-container-warp .product-container-right .service .service-container .pr_ice {
  position: absolute;
  right: 20px;
  bottom: 28px;
  color: #757575;
  font-size: 14px;
}
.main .main-container .product-container .product-container-warp .product-container-right .seckill-price-2 {
  background: #f9f9fa;
  padding: 30px;
  margin-bottom: 30px;
}
.main .main-container .product-container .product-container-warp .product-container-right .seckill-price-2 .seckill-price-top {
  overflow: hidden;
  line-height: 30px;
  color: #616161;
  font-size: 14px;
}
.main .main-container .product-container .product-container-warp .product-container-right .seckill-price-2 .seckill-price-top > :first-child {
  float: left;
}
.main .main-container .product-container .product-container-warp .product-container-right .seckill-price-2 .seckill-price-top > :last-child {
  float: right;
}
.main .main-container .product-container .product-container-warp .product-container-right .seckill-price-2 .seckill-price-top > :last-child span {
  text-decoration: line-through;
}
.main .main-container .product-container .product-container-warp .product-container-right .seckill-price-2 .seckill-price-bottom {
  color: #ff6700;
  font-size: 24px;
  padding-top: 20px;
}
.main .main-container .product-container .product-container-warp .product-container-right .login-buy {
  overflow: hidden;
}
.main .main-container .product-container .product-container-warp .product-container-right .login-buy .login-buy-btn {
  float: left;
  font-size: 16px;
  background: #ff6700;
  border-color: #ff6700;
  text-align: center;
  margin-right: 10px;
  transition: all 0.4s;
}
.main .main-container .product-container .product-container-warp .product-container-right .login-buy .login-buy-btn a {
  color: #fff;
  display: block;
  width: 298px;
  height: 52px;
  line-height: 54px;
}
.main .main-container .product-container .product-container-warp .product-container-right .login-buy .login-buy-btn:hover {
  background: #F25807;
}
.main .main-container .product-container .product-container-warp .product-container-right .login-buy .login-buy-like {
  float: left;
  font-size: 16px;
  background: #b0b0b0;
  text-align: center;
  transition: all 0.4s;
}
.main .main-container .product-container .product-container-warp .product-container-right .login-buy .login-buy-like a {
  display: block;
  width: 140px;
  height: 52px;
  line-height: 54px;
  color: #fff;
}
.main .main-container .product-container .product-container-warp .product-container-right .login-buy .login-buy-like a .icon-aixin {
  font-size: 20px;
  vertical-align: bottom;
  font-weight: bold;
  margin-right: 5px;
}
.main .main-container .product-container .product-container-warp .product-container-right .login-buy .login-buy-like:hover {
  background: #757575;
}
.main .main-container .product-container .product-container-warp .product-container-right .other-service {
  margin-top: 20px;
  font-size: 14px;
}
.main .main-container .product-container .product-container-warp .product-container-right .other-service a {
  color: #b0b0b0;
  margin-right: 20px;
  line-height: 40px;
}
.main .main-container .product-container .product-container-warp .product-container-right .other-service a span {
  vertical-align: middle;
}
.main .main-container .product-container .product-container-warp .product-container-right .other-service a .icon-check-circle {
  font-size: 24px;
  padding-right: 2px;
}
.main .product-tabs {
  position: relative;
}
.main .product-tabs .product-tabs-title {
  width: 1226px;
  margin: 0 auto;
  font-size: 18px;
  text-align: center;
  padding: 26px 0;
  line-height: 20px;
}
.main .product-tabs .product-tabs-title span {
  display: inline-block;
  width: 168px;
  border-right: 1px solid #e0e0e0;
  color: #757575;
  cursor: pointer;
}
.main .product-tabs .product-tabs-title > span:hover {
  color: #ff4a00;
}
.main .product-tabs .product-tabs-title > :first-child {
  color: #ff4a00;
}
.main .product-tabs .product-tabs-contanier {
  display: block;
}
.main .product-tabs .product-tabs-contanier .weixin-info {
  width: 1226px;
  margin: 0 auto;
}
.main .product-tabs .product-tabs-contanier .weixin-title {
  font-size: 22px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
  padding: 1em 0;
}
.main .product-tabs .product-tabs-contanier .weixin-pic {
  height: 160px;
}
.main .product-tabs .product-tabs-contanier .weixin-pic img {
  height: 160px;
  width: 100%;
}
.main .product-tabs .position-img {
  background: #f7f7f7;
  overflow: hidden;
  padding-bottom: 50px;
  width: 100%;
}
.main .product-tabs .product-tabs {
  margin: 0 auto;
  overflow: hidden;
}
.main .product-tabs .product-tabs .img-box {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.footer {
  background: #fff;
}
.footer .footer-container {
  width: 1226px;
  margin: 0 auto;
}
.footer .footer-container .footer-serve {
  padding: 27px 0;
  font-size: 16px;
  display: flex;
  justify-content: center;
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
}
.footer .footer-container .footer-serve .footer-serve-part {
  flex-grow: 1;
  color: #616161;
  border-right: 1px solid #e0e0e0;
}
.footer .footer-container .footer-serve .footer-serve-part .icon-banshou {
  font-size: 22px !important;
}
.footer .footer-container .footer-serve .footer-serve-part .icon-7tianwuliyoutuihuo {
  font-size: 22px !important;
}
.footer .footer-container .footer-serve .footer-serve-part .icon-liwu {
  font-size: 20px !important;
}
.footer .footer-container .footer-serve .footer-serve-part .icon-didian {
  font-size: 20px !important;
}
.footer .footer-container .footer-serve .footer-serve-part span {
  transition: all 0.2s;
}
.footer .footer-container .footer-serve .footer-serve-part:hover span {
  color: #ff6700;
}
.footer .footer-container .footer-serve .footer-serve-part > .iconfont {
  font-size: 24px;
}
.footer .footer-container .footer-serve > :last-child {
  border-right: none;
}
.footer .footer-container .footer-link {
  padding: 40px 0;
  display: flex;
}
.footer .footer-container .footer-link .footer-link-list {
  overflow: hidden;
  float: left;
}
.footer .footer-container .footer-link .footer-link-list ul {
  float: left;
  width: 159px;
}
.footer .footer-container .footer-link .footer-link-list ul > li {
  color: #757575;
  margin-bottom: 10px;
}
.footer .footer-container .footer-link .footer-link-list ul > li:first-child {
  color: #424242;
  font-size: 14px;
  margin-bottom: 26px;
}
.footer .footer-container .footer-link .footer-link-list ul > li:not(:first-child):hover {
  color: #ff6700;
  cursor: pointer;
}
.footer .footer-container .footer-link .footer-link-list > :last-child {
  border-right: 1px solid #e0e0e0;
}
.footer .footer-container .footer-link .footer-contact {
  float: left;
  flex-grow: 1;
  text-align: center;
}
.footer .footer-container .footer-link .footer-contact > :nth-child(1) {
  color: #ff6700;
  font-size: 22px;
}
.footer .footer-container .footer-link .footer-contact > :nth-child(2) {
  line-height: 24px;
  color: #616161;
}
.footer .footer-container .footer-link .footer-contact > :nth-child(3) {
  display: inline-block;
  width: 118px;
  height: 28px;
  line-height: 28px;
  color: #ff6700;
  border: 1px solid #ff6700;
  transition: all 0.4s;
}
.footer .footer-container .footer-link .footer-contact > :nth-child(3) .icon-xiaoxi {
  vertical-align: top;
}
.footer .footer-container .footer-link .footer-contact > :nth-child(3):hover {
  background: #ff6700;
  color: #fff;
}
.footer .footer-container .footer-link .footer-contact > :nth-child(4) {
  margin-top: 10px;
  color: #616161;
}
.footer .footer-container .footer-link .footer-contact > :nth-child(4) .iconfont {
  font-size: 26px;
  padding-left: 5px;
  color: #616161;
  display: inline-block;
}
.footer .footer-container .footer-link .footer-contact > :nth-child(4) .icon-weixin1 {
  position: relative;
  font-size: 22px !important;
}
.footer .footer-container .footer-link .footer-contact > :nth-child(4) .icon-weixin1 img {
  position: absolute;
  width: 126px;
  height: 126px;
  top: 25px;
  left: -58px;
  display: none;
  z-index: 100;
}
.footer .footer-container .footer-link .footer-contact > :nth-child(4) .icon-weibo1:hover {
  color: #ff6700;
}
.footer .footer-container .footer-link .footer-contact > :nth-child(4) .icon-weixin1:hover {
  color: #ff6700;
}
.footer .footer-container .footer-link .footer-contact > :nth-child(4) .icon-weixin1:hover > img {
  display: block;
}
.info {
  background: #fafafa;
  padding: 30px 0;
}
.info .info-container {
  width: 1266px;
  margin: 0 auto;
  overflow: hidden;
}
.info .info-container .info-logo {
  float: left;
  width: 56px;
  height: 56px;
  background: url(../img/img-footer/logo-mi2.png) no-repeat no-repeat;
  background-size: 100% 100%;
  margin-right: 10px;
}
.info .info-container .info-right {
  float: left;
  line-height: 18px;
}
.info .info-container .info-right .info-hover a {
  color: #757575;
}
.info .info-container .info-right .info-hover a:hover {
  color: #ff6700;
}
.info .info-container .info-right .info-hover span {
  padding: 0 4px;
}
.info .info-container .info-right .info-small {
  color: #b0b0b0;
}
.info .info-container .info-right .info-small a {
  color: #b0b0b0;
}
.info .info-container .info-right .info-link {
  margin-top: 3px;
}
.info .info-container .info-right .info-link a {
  margin-right: 2px;
}
.info .info-container .info-right .info-link a img {
  height: 28px;
  display: inline-block;
}
.info .info-container .info-right .info-link .cut {
  overflow: hidden;
  width: 74px;
  height: 28px;
  display: inline-block;
  position: relative;
}
.info .info-container .info-right .info-link .cut div {
  width: 74px;
  height: 28px;
  display: inline-block;
  position: absolute;
  animation: cut 5s steps(2) infinite;
}
.info .info-container .info-right .info-link .cut div img {
  position: absolute;
}
.info .info-container .info-right .info-link .cut div img:last-child {
  left: 74px;
}
@keyframes cut {
  from {
    left: 0px;
  }
  to {
    left: -147px;
  }
}
.footer-title {
  height: 19px;
  width: 100%;
  background: url(../img/img-footer/slogan2020.png) no-repeat center;
  margin-top: 40px;
}
